@page
@model CarRentalSite.Pages.cars2.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Car</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Car.Brand" class="control-label"></label>
                <input asp-for="Car.Brand" class="form-control" />
                <span asp-validation-for="Car.Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Model" class="control-label"></label>
                <input asp-for="Car.Model" class="form-control" />
                <span asp-validation-for="Car.Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Description" class="control-label"></label>
                <input asp-for="Car.Description" class="form-control" />
                <span asp-validation-for="Car.Description" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Car.Year" class="control-label"></label>
                <input asp-for="Car.Year" class="form-control" type="number" min="1886" max="2023" />
                <span asp-validation-for="Car.Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Mileage" class="control-label"></label>
                <input asp-for="Car.Mileage" class="form-control" />
                <span asp-validation-for="Car.Mileage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Type" class="control-label">Cartype</label>
                @Html.DropDownListFor(m => m.Car.Type, new SelectList(Enum.GetValues(typeof(ModelsDap.Models.Enums.CarType))))
                <span asp-validation-for="Car.Type" class="text-danger"></span>
            </div>
            <style>
  select {
    width: 100%;
    padding: 8px 20px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
</style>
            <div class="form-group">
                <label asp-for="Car.FuelType" class="control-label"></label>
                @Html.DropDownListFor(m => m.Car.FuelType, new SelectList(Enum.GetValues(typeof(ModelsDap.Models.Enums.FuelType))))
                <span asp-validation-for="Car.FuelType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Doors" class="control-label"></label>
                @Html.DropDownListFor(m => m.Car.Doors, new SelectList("12345"))
                <span asp-validation-for="Car.Doors" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.FuelConsumption" class="control-label"></label>
                <input asp-for="Car.FuelConsumption" class="form-control" />
                <span asp-validation-for="Car.FuelConsumption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.ElectricityConsumption" class="control-label"></label>
                <input asp-for="Car.ElectricityConsumption" class="form-control" />
                <span asp-validation-for="Car.ElectricityConsumption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.HK" class="control-label"></label>
                <input asp-for="Car.HK" class="form-control" />
                <span asp-validation-for="Car.HK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.GearType" class="control-label"></label>
                @Html.DropDownListFor(m => m.Car.GearType, new SelectList(Enum.GetValues(typeof(ModelsDap.Models.Enums.GearType))))
                <span asp-validation-for="Car.GearType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.RegNumber" class="control-label"></label>
                <input asp-for="Car.RegNumber" type="text" pattern="[A-Za-z]{2}[0-9]{5}" class="form-control" />
                <span asp-validation-for="Car.RegNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.Color" class="control-label"></label>
                <input asp-for="Car.Color" class="form-control" />
                <span asp-validation-for="Car.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Car.PricePerDay" class="control-label"></label>
                <input asp-for="Car.PricePerDay" class="form-control" />
                <span asp-validation-for="Car.PricePerDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadFiles" class="control-label"></label>
                <input asp-for="UploadFiles" class="form-control" type="file" aria-required="false" multiple>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
