@page
@model CarRentalSite.Pages.Rentals.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Rental</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Rental.Id" />
            @*<div class="form-group">
                <label asp-for="rental.carid" class="control-label"></label>
                <input asp-for="rental.carid" class="form-control" />
                <span asp-validation-for="rental.carid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rental.ownerid" class="control-label"></label>
                <input asp-for="rental.ownerid" class="form-control" />
                <span asp-validation-for="rental.ownerid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rental.loanerid" class="control-label"></label>
                <input asp-for="rental.loanerid" class="form-control" />
                <span asp-validation-for="rental.loanerid" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Rental.RentalStartPeriod" class="control-label"></label>
                <input asp-for="Rental.RentalStartPeriod" class="form-control" />
                <span asp-validation-for="Rental.RentalStartPeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rental.RentalEndPeriod" class="control-label"></label>
                <input asp-for="Rental.RentalEndPeriod" class="form-control" />
                <span asp-validation-for="Rental.RentalEndPeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
